h1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    font-size: 25px;
}
ul li {
    display: flex;
    gap:10px;
    align-items: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
button{
    cursor: pointer;
    background-color: greenyellow;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    padding:  5px 10px;
}
.delete{
    height: fit-content;
    padding:  5px 10px;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: wheat;
    cursor: pointer;
    font-size: 25px;
}